p {
    color:white !important;
    margin-left: 700px !important;
    font-size: 30px;
    font-family: emoji;
}

body {
    align-items: center;
    background-image: url("https://wallpapercave.com/wp/wp7720762.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

#board {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-width: 600px;
    min-width: 600px;
    margin-left: -50px;
    margin-top: -23px;
}

.btn {
    background-color: red;
    color: white;
}

.btn:hover {
    background-color: rgb(236, 9, 127);
    color: white !important;
}

#controls {
    position: absolute;
    bottom: -30px;
}

#secondWindow {
    padding: 10px;
    max-width: 800px;
    margin-top: -20px;
    min-height: 370px;
    background-color: rgba(205, 11, 111, 0.4); 
    color: rgba(255, 255, 255, 1); 
}

#moveTable {
    width: 100%;
    max-height: 250px;
    overflow: auto;
    color: rgba(255, 255, 255, 1); 
    transition: opacity 1s; 
    font-weight: bolder;
}

#moveTable tr:hover {
    background-color: rgba(205, 11, 111, 1);
}

#sel1{
    background-color: red;
    color: white;
}

#sel1:hover{
    background-color: rgb(236, 9, 127);
    color: white;
}

footer {
    color:rgb(223, 247, 8) !important;
    margin-top: 10px;
    margin-left: 10px; 
    font-family: cursive;
    font-weight: bolder;
}
